@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dc-primary: #0282f9;
  --dc-dark: #303030;
  --dc-darker: #000000;
  --dc-light: #8a8a8a;
  --dc-lighter: #ffffff;
}

ul {
  font-size: 0.8rem;
  font-weight: 700;
  gap: 1.3rem;
}